<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>

    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/img/favicon_index.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/css/recipe.css">
    <link rel="stylesheet" href="../../../../Public/css/note.css">
</head>
<body>
    <div id="header" class="">
        <div class="header clearfix">
            <a class="logo left" href="{:U('Index/index')}">
                <img src="__PUBLIC__/img/logo3.png" alt="">
            </a>
            <ul class="nav">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li onmouseover="$('.ctip').show();" onmouseout="$('.ctip').hide();" <if condition="$title neq 菜谱列表">class="relative act"<else />class="relative"</if> >
                    <a href="javascript:void(0)">专题
                        <span class="naww"></span>
                    </a>
                    <div class="ctip">
                        <span class="arwwj"> </span>
                    <volist name="special" id="so">
                        <div class="ctab clearfix">
                            <a href="{:U('Menu/list')}?table=Menu&where=sid = {$so.id} AND status = 1&order=addtime desc&title=“{$so.title}”的相关菜谱" target="_blank">
                                <img src="__PUBLIC__/img/jx3.png" alt="">
                                {$so.title}
                            </a>
                        </div>
                    </volist>
                    </div>
                </li>
                <li <eq name="title" value="菜谱列表">class="act"</eq> >
                    <a href="{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1&order=addtime desc&title=菜谱列表">菜谱</a>
                </li>
                <li >
                    <a href="{:U('Article/list')}?table=Article&where=status = 1&order=toptime desc,addtime desc&title=豆果美食 - 精彩文章">文章</a>
                </li>
            </ul>
            <form class="search br4 left" action="">
                <input type="text" class="sput searchValue" name="keywords" placeholder="搜索菜谱、文章" />
                <button type="button" class="lib" onclick="search()"></button>
            </form>
            <if condition="$Think.SESSION.user.isLogin eq 1">
                <div class="pubt" onmouseover="$('.pubt-box').show();" onmouseout="$('.pubt-box').hide();">
                    <a class="btn-pubt" href="{:U('Menu/edit')}?table=Menu&where[id]=0&title=豆果美食 - 发布菜谱" title="发布菜谱">发布</a>
                </div>
                <div class="myinfo relative" onmouseover="$('.myedit').show();" onmouseout="$('.myedit').hide();" style="float: right;">
                    <a class="headicon" href="javascript:void(0)" onclick="selfUserChange('{$Think.SESSION.user.id}','{$Think.SESSION.user.nickname}','{$Think.SESSION.user.username}','{:U(\'Change\')}?table=User&where[id]=')">
                        <img class="wb100 br50" src="__PUBLIC__/img/favicon_index.ico" alt="" title="{$Think.SESSION.user.nickname}">
                        <span class="msgnum"></span>
                    </a>
                    <div class="myedit br8">
                        <span class="arwwj"> </span>
                        <a href="{:U('Menu/list')}?table=Menu&where=uid = {$Think.SESSION.user.id}&order=addtime desc&title=菜谱列表&my=1">我的菜谱</a>
                        <a href="{:U('Menu/list')}?table=Menu&where=uid = {$Think.SESSION.user.id}&order=addtime desc&title=我的收藏&my=2">我的收藏</a>
                        <a href="{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1&order=addtime desc&title=评论过的菜谱&my=3">评论过的菜谱</a>
                        <a href="javascript:void(0)" onclick="selfUserChange('{$Think.SESSION.user.id}','{$Think.SESSION.user.nickname}','{$Think.SESSION.user.username}','{:U(\'Change\')}?table=User&where[id]=')">账号设置</a>
                        <a href="javascript:void(0)" onclick="out()">退出</a>
                    </div>
                </div>
                <else />
                <div class="pubt" onmouseover="$('.pubt-box').show();" onmouseout="$('.pubt-box').hide();">
                    <a class="btn-pubt" href="{:U('Menu/edit')}?table=Menu&where[id]=0&title=豆果美食 - 发布菜谱" title="发布菜谱">发布</a>
                </div>
                <div class="perinfo" style="float: right;">
                    <a class="login" href="{:U('Index/login')}" target="_blank"> 登录 </a> | <a class="register" href="{:U('Index/register')}" target="_blank"> 注册 </a>
                </div>
            </if>
        </div>
    </div>
    <div id="content" class="recipe-content clearfix">
        <div id="left">
            <div class="relative">
                <div id="banner" class="cboxElement cboxElement1" data-origin="{:U('Menu/content')}?table=Menu&where[id]={$do.id}&title={$do.title}&author={$do.uid}&my={$my}" data-snum="1" href="javascript:void(0);" rel="recipe_img">
                    <a href="{:U('Menu/content')}?table=Menu&where[id]={$do.id}&title={$do.title}&author={$do.uid}&my={$my}" >
                        <img class="wb100" src="__PUBLIC__{$data.img}" style="height: 100%" alt="{$data.title}">
                    </a>
                </div>
            </div>
            <div class="rinfo relative">
                <h1 class="title text-lips"  style="display: inline-block">{$data.title}</h1>
                <div class="boutiExclu">
                    <span class="bouti">精品</span>
                </div>
                <div class="vcnum relative">
                    <span>{$data.hot}</span> 浏览
                    <div class="absolute operate">
                        <a href="javascript:void(0);" data-status="0" onclick="selfCollection('{:U(\'collection\')}','{$Think.SESSION.user.id}','{$data.id}')" <eq name="isCollection" value="1">class="btn-collect hascoll"<else />class="btn-collect"</eq> >收藏</a>
                    </div>
                </div>
                <div class="clearfix aut-info relative">
                    <a class="author-img left" href="javascript:void(0);" target="_blank" title="{$data.author}">
                        <img class="br50" src="__PUBLIC__/img/favicon_index.ico" alt="{$data.author}" width="30" height="30">
                    </a>
                    <div class="author-info left">
                        <a class="nickname text-lips" href="javascript:void(0);" target="_blank">{$data.author}</a>
                    </div>
                </div>
            </div>
            <div class="metarial">
                <h2 class="mini-title">{$data.title}的食材用料</h2>
                <table width="690" border="0" cellspacing="0" cellpadding="0" class="retamr br8">
                    <tr>
                        <td class="lirre" style="border-top:0;">
                            <span class="scname">
                                <a href="/caipu/熟米饭" target="_blank">熟米饭</a>
                            </span>
                            <span class='right scnum'>1大碗</span>
                        </td>
                        <td style="border-top:0;">
                            <span class="scname"><a href="/caipu/肥牛" target="_blank">肥牛</a></span>
                            <span class='right scnum'>130克</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="lirre" >
                            <span class="scname"><a href="/caipu/泡菜" target="_blank">泡菜</a></span>
                            <span class='right scnum'>150克</span>
                        </td>
                        <td >
                            <span class="scname"><a href="/caipu/香菇" target="_blank">香菇</a></span>
                            <span class='right scnum'>3朵</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tips">
                <h2 class="mini-title">{$data.title}的烹饪技巧</h2>
                <p>
                    <br />
                    {$data.content}
                </p>
            </div>
            <p class="creattime">发布时间:{$data.addtime|date='Y-m-d H:i:s',###}</p>
            <div class="copyright">©本菜谱的做法由 <a class="author" href="javascript:void(0)" target="_blank">{$data.author}</a> 编写，未经授权不得转载</div>
            <div class="comment">
                <h3>评论</h3>
                <div id="comment-text">
                    <div class="in-comment clearfix">
                        <div class="author-img" style="float: left;">
                            <img alt="" src="__PUBLIC__/img/favicon_index.ico" class="br50" width="30" height="30" />
                        </div>
                        <textarea class="left" style="width: 648px;height: 112px;resize: none;padding: 12px;border: 1px solid #E5E3DF;border-radius: 4px;margin-left: 12px"></textarea>
                        <a href="javascript:void(0)" style="float: right;color:#FFB31A;right: 0;margin-top: 10px;display: inline-block;border-radius: 4px;height:34px;width:104px;text-align:center;line-height:34px;font-size: 15px;border:1px solid #FFB31A;">发表评论</a>
                    </div>
                </div>
                <ul class="comment-list">
                    <marquee onMouseOver="this.stop()" onMouseOut="this.start()" scrollamount="5" scrolldelay="1" direction="up" width="200" height="350">
                        <li>
                            <a href="/u/u04973117567938" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/3/0/5/70_u04973117567938215750.jpg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>玥轩</h4>
                                <p>好用心</p>
                                <span class="time">2019-12-28 22:17:07</span>
                            </div>
                        </li>
                        <li>
                            <a href="/u/u1814684855262" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/8/f/f/70_u69757368891254095658.jpeg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>our et la haineD</h4>
                                <p>看着很不错呢~ </p>
                                <span class="time">2019-12-28 22:07:07</span>
                            </div>
                        </li>
                        <li>
                            <a href="/u/u317396394220" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/1/2/3/70_u9422031739630330020618.jpg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>Jonawdcf</h4>
                                <p>真厉害</p>
                                <span class="time">2019-12-28 22:01:08</span>
                            </div>
                        </li><li>
                        <a href="/u/u04973117567938" target="_blank">
                            <img src="https://tx1.douguo.com/upload/photo/3/0/5/70_u04973117567938215750.jpg" alt="" class="user-head">
                        </a>
                        <div class="des-comment">
                            <h4>玥轩</h4>
                            <p>好用心</p>
                            <span class="time">2019-12-28 22:17:07</span>
                        </div>
                    </li>
                        <li>
                            <a href="/u/u1814684855262" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/8/f/f/70_u69757368891254095658.jpeg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>our et la haineD</h4>
                                <p>看着很不错呢~ </p>
                                <span class="time">2019-12-28 22:07:07</span>
                            </div>
                        </li>
                        <li>
                            <a href="/u/u317396394220" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/1/2/3/70_u9422031739630330020618.jpg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>Jonawdcf</h4>
                                <p>真厉害</p>
                                <span class="time">2019-12-28 22:01:08</span>
                            </div>
                        </li><li>
                        <a href="/u/u04973117567938" target="_blank">
                            <img src="https://tx1.douguo.com/upload/photo/3/0/5/70_u04973117567938215750.jpg" alt="" class="user-head">
                        </a>
                        <div class="des-comment">
                            <h4>玥轩</h4>
                            <p>好用心</p>
                            <span class="time">2019-12-28 22:17:07</span>
                        </div>
                    </li>
                        <li>
                            <a href="/u/u1814684855262" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/8/f/f/70_u69757368891254095658.jpeg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>our et la haineD</h4>
                                <p>看着很不错呢~ </p>
                                <span class="time">2019-12-28 22:07:07</span>
                            </div>
                        </li>
                        <li>
                            <a href="/u/u317396394220" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/1/2/3/70_u9422031739630330020618.jpg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>Jonawdcf</h4>
                                <p>真厉害</p>
                                <span class="time">2019-12-28 22:01:08</span>
                            </div>
                        </li><li>
                        <a href="/u/u04973117567938" target="_blank">
                            <img src="https://tx1.douguo.com/upload/photo/3/0/5/70_u04973117567938215750.jpg" alt="" class="user-head">
                        </a>
                        <div class="des-comment">
                            <h4>玥轩</h4>
                            <p>好用心</p>
                            <span class="time">2019-12-28 22:17:07</span>
                        </div>
                    </li>
                        <li>
                            <a href="/u/u1814684855262" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/8/f/f/70_u69757368891254095658.jpeg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>our et la haineD</h4>
                                <p>看着很不错呢~ </p>
                                <span class="time">2019-12-28 22:07:07</span>
                            </div>
                        </li>
                        <li>
                            <a href="/u/u317396394220" target="_blank">
                                <img src="https://tx1.douguo.com/upload/photo/1/2/3/70_u9422031739630330020618.jpg" alt="" class="user-head">
                            </a>
                            <div class="des-comment">
                                <h4>Jonawdcf</h4>
                                <p>真厉害</p>
                                <span class="time">2019-12-28 22:01:08</span>
                            </div>
                        </li>
                    </marquee>
                </ul>
            </div>
            <div style="padding-top: 10px;"></div>
            <div class="bot-list">
                <h2 class="mini-title">{$data.title}的相关菜谱</h2>
                <ul class="recipe-list clearfix">
                    <li class="item ">
                        <a class="cover br8 relative" target="_blank" href="/cookbook/206667.html" >
                            <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/9/a/8/220_9a9d77658ef91ccc8c9b4ce6fbc99368.jpg" alt="可乐鸡翅[简单到没下过厨也会做]">
                        </a>
                        <div>
                            <a class="name text-lips" target="_blank" href="/cookbook/206667.html">可乐鸡翅[简单到没下过厨也会做]</a>
                            <a class="author" href="/u/u49617908834149.html">by <span>stta小铭</span></a>
                        </div>
                    </li>
                    <li class="item ">
                        <a class="cover br8 relative" target="_blank" href="/cookbook/961224.html" >
                            <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/d/2/3/220_d2017ec4908b6acb49339d99121cce33.jpg" alt="吃过就会爱上--番茄烩金针菇">
                        </a>
                        <div>
                            <a class="name text-lips" target="_blank" href="/cookbook/961224.html">吃过就会爱上--番茄烩金针菇</a>
                            <a class="author" href="/u/u81418481249988.html">by <span>晴安</span></a>
                        </div>
                    </li>
                    <li class="item  mr0 ">
                        <a class="cover br8 relative" target="_blank" href="/cookbook/211993.html" >
                            <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/2/7/3/220_27d4770982651e9cb2d31c1b77c58303.jpg" alt="茄汁焖大虾">
                        </a>
                        <div>
                            <a class="name text-lips" target="_blank" href="/cookbook/211993.html">茄汁焖大虾</a>
                            <a class="author" href="/u/u62182782331893.html">by <span>妙妙小姐姐</span></a>
                        </div>
                    </li>
                    <li class="item ">
                        <a class="cover br8 relative" target="_blank" href="/cookbook/763523.html" >
                            <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/d/7/4/220_d7909a4ecbb0bdb069f0eab38d5924e4.jpg" alt="入口即化的玛格丽特饼干～">
                        </a>
                        <div>
                            <a class="name text-lips" target="_blank" href="/cookbook/763523.html">入口即化的玛格丽特饼干～</a>
                            <a class="author" href="/u/u94457742794738.html">by <span>丸子与牛肉饼</span></a>
                        </div>
                    </li>
                    <li class="item ">
                        <a class="cover br8 relative" target="_blank" href="/cookbook/83620.html" >
                            <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/f/5/9/220_f513e77f6c147dbb5c3d2f62f5d6e239.jpg" alt="8寸原味芝士蛋糕">
                            <div style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
                                <img src="https://cp1.douguo.com/static/nweb/images/video_icon.png" alt="" style="width: 20%;position: absolute;top: 50%;margin-top: -10%;left: 50%;margin-left: -10%;">
                            </div>
                        </a>
                        <div>
                            <a class="name text-lips" target="_blank" href="/cookbook/83620.html">8寸原味芝士蛋糕</a>
                            <a class="author" href="/u/u85041230.html">by <span>小聪明</span></a>
                        </div>
                    </li>
                    <li class="item  mr0 ">
                        <a class="cover br8 relative" target="_blank" href="/cookbook/1300771.html" >
                            <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/d/9/8/220_d9eaf305b1df2ee5da16075ad85d4138.jpg" alt="迷迭香美食| 糖醋排骨">
                            <div style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;">
                                <img src="https://cp1.douguo.com/static/nweb/images/video_icon.png" alt="" style="width: 20%;position: absolute;top: 50%;margin-top: -10%;left: 50%;margin-left: -10%;">
                            </div>
                        </a>
                        <div>
                            <a class="name text-lips" target="_blank" href="/cookbook/1300771.html">迷迭香美食| 糖醋排骨</a>
                            <a class="author" href="/u/u48350980597650.html">by <span>迷迭香Rosemary</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="right"></div>
    </div>
    <div id="footer">
        <div class="foot">
            <div class="clink relative">
                <a href="http://www.douguo.com/about.html" rel="nofollow" target="_blank">关于豆果</a> ·
                <a href="http://www.douguo.com/hr.html" rel="nofollow" target="_blank">在豆果工作</a> ·
                <a href="http://www.douguo.com/user/feedback" rel="nofollow" target="_blank">意见反馈</a> ·
                <a href="http://www.douguo.com/links.html" target="_blank">友情链接</a> ·
                <a href="http://www.douguo.com/allrecipes/" target="_blank">菜谱大全</a> ·
                <a href="http://www.douguo.com/brand" target="_blank">品牌馆</a>
            </div>
            <div class="cght" style="text-align: center;">
                ©2009-2018
                <a href="https://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a>
                <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">京ICP证111032号</a>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038268">
                    <img alt="" src="https://i1.douguo.com//upload/banner/1564469142.png" lazysrc="" style="margin-bottom: -3px;width:20px" />
                    京公网安备 11010502038268号
                </a>
                <p style="margin:5px 0;cursor: pointer;" onclick="$('.smask2').show();$('.medicinal_box').show();">互联网药品信息服务资格证书</p>
                <a href="http://sq.ccm.gov.cn/ccnt/sczr/doLogin" target="_blank">
                    <img alt="" src="https://i1.douguo.com//upload/banner/1522057799.png" style="margin-bottom: -3px;width:20px"/>
                    京网文【2017】6954-770号
                </a>
                食品流通许可证SP1101061510252413
                <a href="javascript:void(0);" style="display:block;text-align:center;margin-top:5px;" onclick="$('.smask2').show();$('.tvbox').show();">广播电视节目制作经营许可证（京）字第11624号</a>
                <p style="margin:5px 0;">本网站不涉及药品交易、不撮合药品交易、不发布麻醉药品、精神药品、医疗用毒性药品、放射性药品、性药品、戒毒药品和医疗机构制剂的药品信息</p>
                <div class="smask2" style="position:fixed;width:100%;height:100%;top:0;left:0;background: black;z-index:999;display: none;opacity: .6;filter: alpha(opacity=60)"></div>
                <div class="tvbox" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                    <img src="https://i1.douguo.com//upload/banner/1551092008.jpg" alt="">
                    <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.tvbox').hide();">
                </div>
                <div class="medicinal_box" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                    <img style="display:block;width:700px;" src="https://i1.douguo.com//upload/banner/1577185524.jpg" alt="">
                    <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.medicinal_box').hide();">
                </div>
            </div>
            <div class="botfans">
                <span class="bonefans" style="display: inline-block;width: 64px;overflow: hidden;position: relative;top: 6px;"></span>
                <a style="margin-left: 12px;" id='___szfw_logo___' href='https://credit.szfw.org/CX20170707035016320368.html' target='_blank'>
                    <img alt="" src='https://i1.douguo.com/upload/banner/1528470330.png' border='0' style="height: 22px;"/>
                </a>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/base.js"></script>
    <script src='__PUBLIC__/js/jquery.js' ></script>
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/js/layui/layui.all.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>
    <script type="text/javascript">
        function out() {
            selfMsg('一旦退出账户将停止当前操作','温馨提示',false,false,['退出','取消'],
                function() {
                    selfAjax("{:U('out')}",'get',{},true,function (data) {if(data) location.reload();});
                },
                function () {
                    return true;
                }
            );
        }

        function search() {
            var title = $("input[name='keywords']").val();
            if(title) {
                selfMsg('请选择要搜索的类型','搜索提示',false,false,['菜谱','文章'],
                    function() {
                        location.href = "{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1 AND title like '%"+title+"%'&order=addtime desc&title=“"+title+"”的相关菜谱";
                    },
                    function () {
                        location.href = "{:U('Article/list')}?table=Article&where=status = 1 AND title like '%"+title+"%'&order=toptime desc,addtime desc&title=“"+title+"”的相关文章";
                    }
                );
            }
        }

        (function () {
            document.getElementById('___szfw_logo___').oncontextmenu = function () {
                return false;
            }
        })();
    </script>
</body>
</html>