<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>

    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/img/favicon_index.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/css/upfood.css">
</head>
<body>
    <div id="header" class="">
        <div class="header clearfix">
            <a class="logo left" href="{:U('Index/index')}">
                <img src="__PUBLIC__/img/logo3.png" alt="">
            </a>
            <ul class="nav">
                <li>
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li class="relative " onmouseover="$('.ctip').show();" onmouseout="$('.ctip').hide();">
                    <a href="javascript:void(0)">专题
                        <span class="naww"></span>
                    </a>
                    <div class="ctip">
                        <span class="arwwj"> </span>
                    <volist name="special" id="so">
                        <div class="ctab clearfix">
                            <a href="{:U('Menu/list')}?table=Menu&where=sid = {$so.id} AND status = 1&order=addtime desc&title=“{$so.title}”的相关菜谱" target="_blank">
                                <img src="__PUBLIC__/img/jx3.png" alt="">
                                {$so.title}
                            </a>
                        </div>
                    </volist>
                    </div>
                </li>
                <li >
                    <a href="{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1&order=addtime desc&title=菜谱列表">菜谱</a>
                </li>
                <li >
                    <a href="{:U('Menu/list')}?table=Menu&where=status =1 &order=addtime desc&title=文章列表">文章</a>
                </li>
            </ul>
            <form class="search br4 left" action="">
                <input type="text" class="sput searchValue" name="keywords" placeholder="搜索菜谱、文章" />
                <button type="button" class="lib" onclick="search()"></button>
            </form>
            <if condition="$Think.SESSION.user.isLogin eq 1">
                <div class="pubt" onmouseover="$('.pubt-box').show();" onmouseout="$('.pubt-box').hide();">
                    <a class="btn-pubt" href="{:U('Menu/edit')}?table=Menu&where[id]=0&title=豆果美食 - 发布菜谱" title="发布菜谱">发布</a>
                </div>
                <div class="myinfo relative" onmouseover="$('.myedit').show();" onmouseout="$('.myedit').hide();" style="float: right;">
                    <a class="headicon" href="javascript:void(0)" onclick="selfUserChange('{$Think.SESSION.user.id}','{$Think.SESSION.user.nickname}','{$Think.SESSION.user.username}','{:U(\'Change\')}?table=User&where[id]=')">
                        <img class="wb100 br50" src="__PUBLIC__/img/favicon_index.ico" alt="" title="{$Think.SESSION.user.nickname}">
                        <span class="msgnum"></span>
                    </a>
                    <div class="myedit br8">
                        <span class="arwwj"> </span>
                        <a href="{:U('Menu/list')}?table=Menu&where=uid = {$Think.SESSION.user.id}&order=addtime desc&title=菜谱列表&my=1">我的菜谱</a>
                        <a href="{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1&order=addtime desc&title=我的收藏&my=2">我的收藏</a>
                        <a href="{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1&order=addtime desc&title=评论过的菜谱&my=3">评论过的菜谱</a>
                        <a href="javascript:void(0)" onclick="selfUserChange('{$Think.SESSION.user.id}','{$Think.SESSION.user.nickname}','{$Think.SESSION.user.username}','{:U(\'Change\')}?table=User&where[id]=')">账号设置</a>
                        <a href="javascript:void(0)" onclick="out()">退出</a>
                    </div>
                </div>
                <else />
                <div class="pubt" onmouseover="$('.pubt-box').show();" onmouseout="$('.pubt-box').hide();">
                    <a class="btn-pubt" href="{:U('Menu/edit')}?table=Menu&where[id]=0&title=豆果美食 - 发布菜谱" title="发布菜谱">发布</a>
                </div>
                <div class="perinfo" style="float: right;">
                    <a class="login" href="{:U('Index/login')}" target="_blank"> 登录 </a> | <a class="register" href="{:U('Index/register')}" target="_blank"> 注册 </a>
                </div>
            </if>
        </div>
    </div>
    <div id="content" class="clearfix">
        <div id="left">
            <form action="" class="mt30" id="upfood">
                <input type="hidden" value="{$data.id}" name="id" />
                <input type="hidden" value="{$data.img}" name="img" />
                <div class="name">
                    <input class="upname" name="title" type="text" value="{$data.title}" maxlength="30" placeholder="菜谱名称" onfocus="if(this.placeholder=='菜谱名称') {this.placeholder=''; $(this).addClass('fcbm'); }" onblur="if(!this.value) {this.placeholder='菜谱名称';$(this).removeClass('fcbm');}" />
                </div>
                <div class="cover">
                <notempty name="data.img">
                    <div class="upbefore" style="background: url(__PUBLIC__{$data.img}) no-repeat center;background-size: 100% 100%">
                        <div class="tiptxt" style="display: none">
                            添加菜谱成品图
                            <p>（建议尺寸600*400，图片不超过8M，支持上传图片格式有jpg、jpeg、png、gif）</p>
                        </div>
                    </div>
                    <else />
                    <div class="upbefore">
                        <div class="tiptxt">
                            添加菜谱成品图
                            <p>（建议尺寸600*400，图片不超过8M，支持上传图片格式有jpg、jpeg、png、gif）</p>
                        </div>
                    </div>
                </notempty>
                    <input class="uploadImg" type="file" style="display: none" accept="image/*" value="">
                </div>
                <div class="rory">
                    <script id="editor" name="content" type="text/plain" style="width:100%;height:400px;margin-top: 20px;">{$data.content|default='这道菜背后的故事～'}</script>
                </div>
                <div class="material clearfix">
                    <h2>食材清单</h2>
                    <div class="zl-list mlist">
                        <div>
                            <span class="liaotit"> 食材</span><span class="liangtit"> 用量</span>
                        </div>
                        <div class="mct clearfix">
                            <input type="text" class="liaoext zhuliao" name="zhuliao[]" value="如:五花肉" onfocus="if(this.value=='如:五花肉') {this.value=''; $(this).addClass('fcbm'); }" onblur="if(!this.value) {this.value='如:五花肉';$(this).removeClass('fcbm');}"/>
                            <input type="text" class="liangext" name="zhuliaoValue[]" value="如:250g" onfocus="if(this.value=='如:250g') {this.value=''; $(this).addClass('fcbm'); }" onblur="if(!this.value) {this.value='如:250g';$(this).removeClass('fcbm');}"/>
                            <a href="javascript:void(0);" class="add" onclick="selfAddObj($(this).parent())"></a>
                            <a href="javascript:void(0);" class="up" onclick="selfUpObj(this,'mct')"></a>
                            <a href="javascript:void(0);" class="down" onclick="selfDownObj(this,'mct')"></a>
                            <a href="javascript:void(0);" class="wrng" onclick="selfDeleteObj(this)"></a>
                        </div>
                    </div>
                </div>
                <div class="complete">
                    <a class="submit" href="javascript:void(0)" onclick="">发布</a>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
        <div class="foot">
            <div class="clink relative">
                <a href="http://www.douguo.com/about.html" rel="nofollow" target="_blank">关于豆果</a> ·
                <a href="http://www.douguo.com/hr.html" rel="nofollow" target="_blank">在豆果工作</a> ·
                <a href="http://www.douguo.com/user/feedback" rel="nofollow" target="_blank">意见反馈</a> ·
                <a href="http://www.douguo.com/links.html" target="_blank">友情链接</a> ·
                <a href="http://www.douguo.com/allrecipes/" target="_blank">菜谱大全</a> ·
                <a href="http://www.douguo.com/brand" target="_blank">品牌馆</a>
            </div>
            <div class="cght" style="text-align: center;">
                ©2009-2018
                <a href="https://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a>
                <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">京ICP证111032号</a>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038268">
                    <img alt="" src="https://i1.douguo.com//upload/banner/1564469142.png" lazysrc="" style="margin-bottom: -3px;width:20px" />
                    京公网安备 11010502038268号
                </a>
                <p style="margin:5px 0;cursor: pointer;" onclick="$('.smask2').show();$('.medicinal_box').show();">互联网药品信息服务资格证书</p>
                <a href="http://sq.ccm.gov.cn/ccnt/sczr/doLogin" target="_blank">
                    <img alt="" src="https://i1.douguo.com//upload/banner/1522057799.png" style="margin-bottom: -3px;width:20px"/>
                    京网文【2017】6954-770号
                </a>
                食品流通许可证SP1101061510252413
                <a href="javascript:void(0);" style="display:block;text-align:center;margin-top:5px;" onclick="$('.smask2').show();$('.tvbox').show();">广播电视节目制作经营许可证（京）字第11624号</a>
                <p style="margin:5px 0;">本网站不涉及药品交易、不撮合药品交易、不发布麻醉药品、精神药品、医疗用毒性药品、放射性药品、性药品、戒毒药品和医疗机构制剂的药品信息</p>
                <div class="smask2" style="position:fixed;width:100%;height:100%;top:0;left:0;background: black;z-index:999;display: none;opacity: .6;filter: alpha(opacity=60)"></div>
                <div class="tvbox" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                    <img src="https://i1.douguo.com//upload/banner/1551092008.jpg" alt="">
                    <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.tvbox').hide();">
                </div>
                <div class="medicinal_box" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                    <img style="display:block;width:700px;" src="https://i1.douguo.com//upload/banner/1577185524.jpg" alt="">
                    <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.medicinal_box').hide();">
                </div>
            </div>
            <div class="botfans">
                <span class="bonefans" style="display: inline-block;width: 64px;overflow: hidden;position: relative;top: 6px;"></span>
                <a style="margin-left: 12px;" id='___szfw_logo___' href='https://credit.szfw.org/CX20170707035016320368.html' target='_blank'>
                    <img alt="" src='https://i1.douguo.com/upload/banner/1528470330.png' border='0' style="height: 22px;"/>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/js/base.js"></script>
    <script type="text/javascript" src='__PUBLIC__/js/jquery.js' ></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layui/layui.all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ajaxfileupload.js?234"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js?0604"></script>
    <script type="text/javascript" src="__PUBLIC__/js/gt.js?234"></script>
    <script type="text/javascript" src='__PUBLIC__/js/tip.js?v=2019' ></script>
    <script type="text/javascript" src='__PUBLIC__/js/search.js?v=12171145' ></script>
    <script type="text/javascript" src='__PUBLIC__/js/main.js?v=201911'></script>
    <script type="text/javascript" src="__PUBLIC__/js/Sortable.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="__PUBLIC__/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="__PUBLIC__/jquery_file_upload/js/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="__PUBLIC__/jquery_file_upload/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="__PUBLIC__/jquery_file_upload/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        function out() {
            selfMsg('一旦退出账户将停止当前操作','温馨提示',false,false,['退出','取消'],
                function() {
                    selfAjax("{:U('out')}",'get',{},true,function (data) {if(data) location.reload();});
                },
                function () {
                    return true;
                }
            );
        }

        function search() {
            var title = $("input[name='keywords']").val();
            if(title) {
                selfMsg('请选择要搜索的类型','搜索提示',false,false,['菜谱','文章'],
                    function() {
                        location.href = "{:U('Menu/list')}?table=Menu&where=sid != -1 AND status = 1 AND title like '%"+title+"%'&order=addtime desc&title=“"+title+"”的相关菜谱";
                    },
                    function () {
                        location.href = "{:U('Article/list')}?table=Article&where=status = 1 AND title like '%"+title+"%'&order=toptime desc,addtime desc&title=“"+title+"”的相关文章";
                    }
                );
            }
        }

        $('.cover').on('click', '.upbefore', function () {
            $('.uploadImg').click();
        });

        $('.cover').on('click', '.uploadImg', function (e) {
            $('.uploadImg').fileupload({
                url: "{:U('upload')}",
                dataType: 'json',
                done: function (e, data) {
                    var result_data = data.jqXHR.responseJSON;
                    if (result_data.data[0])
                    {
                        $('.tiptxt').hide();
                        $("input[name='img']").val(result_data.data[0]);
                        $('.upbefore').css("background","url(__PUBLIC__"+result_data.data[0]+") no-repeat center").css("background-size","100% 100%");
                    }
                },
            });
        });

        $(function(){
            UE.getEditor('editor', {
                autoFloatEnabled: false,
                zIndex: 1,
                contextMenu : [
                    {
                        label: '首行缩进',
                        cmdName: 'indent',
                    },
                    {
                        label: '字体加粗',
                        cmdName: 'bold',
                    },
                    {
                        label: '字体斜体',
                        cmdName: 'italic',
                    },
                    {
                        label: '下划线',
                        cmdName: 'underline',
                    },
                ],
                enableAutoSave : false,
                wordCount: false,
                elementPathEnabled : false,
                toolbars : [['fontfamily','forecolor','fontsize','insertimage'],]
            });
        });

        (function () {
            document.getElementById('___szfw_logo___').oncontextmenu = function () {
                return false;
            }
        })();

        var prefix = "";
        window.isUpload = false;
        document.ondragover = function(e){e.preventDefault();};
        document.ondrop = function(e){e.preventDefault();};
        document.getElementsByClassName('strtext')[0].addEventListener('paste',function(e){
            if ( !(e.clipboardData && e.clipboardData.items) ) {
                return;
            }
            var item = e.clipboardData.items[0];
            if (item.kind === "string") {
                item.getAsString(function (str) {
                    document.getElementsByClassName('strtext')[0].value = document.getElementsByClassName('strtext')[0].value.replace(str,' '+str+' ');
                })
            }
        });
    </script>
</body>
</html>