<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/img/favicon_index.ico">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/x-admin.css" media="all">
</head>
<body>
    <div class="x-body">
        <blockquote class="layui-elem-quote">
            欢迎使用豆果美食 后台系统！
            <span class="f-14">v1.0</span>
            官方交流群： 999999999
        </blockquote>
        <p>登录次数：{$Think.SESSION.admin.login} </p>
    </div>
    <div class="layui-footer footer footer-demo">
        <div class="layui-main">
            <p>感谢layui,jquery</p>
            <p>Copyright ©2019 df v1.0 All Rights Reserved.</p>
        </div>
    </div>

    <script src="__PUBLIC__/js/admin_base.js"></script>
    <script src='__PUBLIC__/js/jquery.js' ></script>
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/js/layui/layui.all.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>
    <script src="__PUBLIC__/admin/js/x-admin.js"></script>
</body>
</html>