<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>{$title}</title>
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/img/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/base.head.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/base.foot.css" />
    <link rel="stylesheet" href="__PUBLIC__/js/layui/css/layui.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <div class="loheader">
            <div class="htop">
                <div class="hlogo">
                    <a title="豆果美食" href="__ROOT__/index.php/Home/index?noSign=1">豆果美食</a>
                </div>
            </div>
        </div>
    </header>

    <div id="main" class="clearfix">
        <div class="bgsi">
            <div class="shic" style="margin-top:78px">
                <img src="__PUBLIC__/img/sinin.png">
            </div>
        </div>
        <div class="silo clearfix">
            <div class="wizh">
                <h2>登录</h2>
                <span>
                    <a href="__ROOT__/index.php/Home/index?goSignUp=1">去注册 ></a>
                </span>
            </div>
            <div class="logone">
                <div class="iput">
                    <input id="username" placeholder="请输入手机号" class="dlsi r5" type="text">
                </div>
                <div class="iput">
                    <input id="password" placeholder="请输入密码" class="dlsi r5" maxlength="20" type="password">
                </div>
                <div id="captcha" class="tymm">
                    <input id="code" class="yzma r5" maxlength="4" type="text" placeholder="输入验证码">
                    <img alt="" class="czl mls mrs" width="100" height="30" id="codeimg" src="__PUBLIC__/img/captcha.png">
<!--                    <a href="javascript:void(0);" id="chgcapt">换一张</a>-->
                </div>
                <input id="ajaxurl" type="hidden" value="">
                <div class="forg">
                    <a href="__ROOT__/index.php/Home/index?forget=1">忘记密码 ></a>
                    <span id="err" class="twro" style="margin-left:20px;visibility: hidden"></span>
                </div>
                <div class="mtsu">
                    <button id="login" class="btnrlo r3" style="background: #FFB31A">登录</button>
                </div>
                <div class="otth">
                    <h3>使用社交账号登录豆果美食</h3>
                    <ul id="ds" style="margin-left: 0;">
                        <li>
                            <a href="#" style="width: 80px">
                                <i class="ic_txzh"></i>
                                腾讯账号
                            </a>
                            <a href="#" class="ml36" style="width: 80px">
                                <i class="ic_xlwb"></i>
                                新浪微博
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div id="footer">
            <div class="foot ptm">
                <div class="clink relative">
                    <a href="http://www.douguo.com/about.html" rel="nofollow" target="_blank">关于豆果</a> ·
                    <a href="http://www.douguo.com/hr.html" rel="nofollow" target="_blank">在豆果工作</a> ·
                    <a href="http://www.douguo.com/user/feedback" rel="nofollow" target="_blank">意见反馈</a> ·
                    <a href="http://www.douguo.com/links.html" target="_blank">友情链接</a> ·
                    <a href="http://www.douguo.com/allrecipes/" target="_blank">菜谱大全</a> ·
                    <a href="http://www.douguo.com/brand" target="_blank">品牌馆</a>
                </div>
                <div class="cght">
                    ©2009-2015
                    <a href="http://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a>
                    <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">京ICP证111032号</a>
                    京公网安备11010102001133号 京网文[2014]0774-174号
                </div>
                <div class="botfans mt15">
                    <span class="bonefans"></span>
                    <span class="bonefans"></span>
                    <span class="bonefans"></span>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
<script src="__PUBLIC__/js/layui/layui.all.js"></script>
<script src="__PUBLIC__/js/layer/layer.js"></script>
</html>