<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>{$title}</title>
    <link rel="stylesheet" href="../../../../Public/css/base.head.css" />
    <link rel="stylesheet" href="../../../../Public/css/base.foot.css" />
    <link rel="stylesheet" href="../../../../Public/js/layui/css/layui.css" />
    <link rel="stylesheet" href="../../../../Public/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <div class="loheader">
            <div class="htop">
                <div class="hlogo">
                    <a title="豆果美食" href="http://xhm.df.local/index.php/Home/index?noSign=1">豆果美食</a>
                </div>
            </div>
        </div>
    </header>
    <div id="main" class="clearfix">
        <div class="bgsi">
            <div class="shic" style="margin-top: 78px">
                <img src="../../../../Public/img/sinin.png" />
            </div>
        </div>
        <div class="silo clearfix">
            <div class="wizh">
                <h2>登录</h2>
                <span>
                    <a href="http://xhm.df.local/index.php/Home/index?goSignUp=1">去注册 ></a>
                </span>
            </div>
            <div class="logone">
                <div class="iput" style="padding-bottom: 25px">
                    <input id="username" placeholder="请输入手机号" class="dlsi r5" type="text" />
                </div>
                <div class="iput" style="padding-bottom: 25px">
                    <input id="password" placeholder="请输入密码" class="dlsi r5" maxlength="20" type="password" />
                </div>
            </div>
            <div class="forg" style="margin-left: 45px;">
                <a href="#">忘记密码 ></a>
                <span id="err" class="twro" style="margin-left: 20px;visibility: hidden"></span>
            </div>
            <div class="mtsu" style="margin-left: 45px;padding-top: 15px">
                <button id="login" class="btnrlo r3" style="background: #FFB31A">登录</button>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer">
            <div class="foot ptm">
                <div class="clink relative">
                    <a href="#" rel="nofollow" target="_blank">关于豆果</a>
                     ·
                    <a href="#" rel="nofollow" target="_blank">在豆果工作</a>
                     ·
                    <a href="#" rel="nofollow" target="_blank">意见反馈</a>
                     ·
                    <a href="#" rel="nofollow" target="_blank">友情链接</a>
                     ·
                    <a href="#" rel="nofollow" target="_blank">菜谱大全</a>
                     ·
                    <a href="#" rel="nofollow" target="_blank">品牌馆</a>
                </div>
            </div>
            <div class="cght" style="font-size: 8px;margin-left: 25%">
                ©2009-2015
                <a href="#" target="_blank">北京豆果信息技术有限公司</a>
                <a href="#" target="_blank" rel="nofollow">京ICP证111032号</a>
                京公网安备11010102001133号 京网文[2014]0774-174号
            </div>
            <div class="botfans mt15">
                <span class="bonefans"></span>
                <span class="bonefans"></span>
                <span class="bonefans"></span>
            </div>
        </div>
    </footer>
</body>
<script src="../../../../Public/js/jquery-3.4.1.min.js"></script>
<script src="../../../../Public/js/layui/layui.all.js"></script>
<script src="../../../../Public/js/layer/layer.js"></script>
</html>