<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>

    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/img/favicon_index.ico">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/css/index.css">
</head>
<body>
    <div id="header" class="">
        <div class="header clearfix">
            <a class="logo left" href="{:U('Index/index')}">
                <img src="__PUBLIC__/img/logo3.png" alt="">
            </a>
            <ul class="nav">
                <li class="act">
                    <a href="{:U('Index/index')}">首页</a>
                </li>
                <li class="relative " onmouseover="$('.ctip').show();" onmouseout="$('.ctip').hide();">
                    <a href="javascript:void(0)">专题
                        <span class="naww"></span>
                    </a>
                    <div class="ctip">
                        <span class="arwwj"> </span>
                    <volist name="special" id="so">
                        <div class="ctab clearfix">
                            <a href="{:U('Menu/list')}?table=Menu&where=sid = {$so.id} AND status = 1&order=addtime desc&title={$so.title}&id= {$so.id}" target="_blank">
                                <img src="__PUBLIC__/img/jx3.png" alt="">
                                {$so.title}
                            </a>
                        </div>
                    </volist>
                    </div>
                </li>
                <li >
                    <a href="{:U('Menu/list')}?table=Menu&where=sid != 0 AND status = 1&order=addtime desc&title=菜谱列表&id= sid != 0">菜谱</a>
                </li>
                <li >
                    <a href="{:U('Article/list')}?table=Article&where=status =1 &order=toptime desc,addtime desc&title=豆果美食 - 精彩文章">文章</a>
                </li>
            </ul>
            <form class="search br4 left" method="POST" id="searchForm" action="" accept-charset="utf-8" onsubmit="document.charset='utf-8';return Search();">
                <input type="text" id="global_search_inpt" class="sput" name="keywords" value="搜索菜谱、文章、食材" lang="zh-CN" autocomplete="off" onfocus="if(this.value=='搜索菜谱、菜单、食材、用户') {this.value=''; $(this).addClass('fcbm'); }" onblur="if(!this.value) {this.value='';$(this).removeClass('fcbm');} setTimeout(function (){$('#mysu2').html('')},500)" onkeyup="selectItem(event)" onclick="selectItem(event)">
                <input type="button" value=" " class="lib">
                <div class="sugg2" id="mysu2" style="display:none;"></div>
            </form>
            <if condition="$Think.SESSION.user.isLogin eq 1">
                <div class="pubt" onmouseover="$('.pubt-box').show();" onmouseout="$('.pubt-box').hide();">
                    <a class="btn-pubt" href="{:U('Menu/edit')}?table=Menu&where[id]=0" title="发布菜谱">发布</a>
                </div>
                <div class="myinfo relative" onmouseover="$('.myedit').show();" onmouseout="$('.myedit').hide();">
                    <a class="headicon" href="{:U('User/info')}">
                        <img class="wb100 br50" src="__PUBLIC__/img/favicon_index.ico" alt="" title="{$Think.SESSION.user.nickname}">
                        <span class="msgnum"></span>
                    </a>
                    <div class="myedit br8">
                        <span class="arwwj"> </span>
                        <a class="relative" href="#" target="_blank">
                            消息提醒
                            <span class="boll"></span>
                        </a>
                        <a href="#">我的收藏</a>
                        <a href="#" target="_blank">账号设置</a>
                        <a href="javascript:void(0)" onclick="out()">退出</a>
                    </div>
                </div>
            <else />
                <div class="pubt" onmouseover="$('.pubt-box').show();" onmouseout="$('.pubt-box').hide();">
                    <a class="btn-pubt" href="{:U('Menu/edit')}?table=Menu&where[id]=0" title="发布菜谱">发布</a>
                </div>
                <div class="perinfo" style="float: right;">
                    <a class="login" href="{:U('login')}" target="_blank"> 登录 </a> | <a class="register" href="{:U('register')}" target="_blank"> 注册 </a>
                </div>
            </if>
        </div>
    </div>
    <div id="banner" class="relative">
        <div class="banner absolute">
            <ul class="blist">
                <li>
                    <a href="javascript:void(0);" class="DGTrack">
                        <img  width="100%" src="https://i1.douguo.com//upload/banner/1576658265.jpg" alt="" >
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content" class="clearfix">
    <empty name="special">
        <h2 class="title">每日精选菜谱<a class="more" href="/jingxuan">更多 <img src="https://cp1.douguo.com/static/nweb/images/more2.png?1" alt=""></a></h2>
        <ul class="recipe-list clearfix">
            <li class="item" >
                <a class="cover br8" href="/cookbook/2386719.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/6/3/5/220x220_636e47172d5a9b382dd0b5221f253d55.jpg" alt="莲藕排骨汤 | 一碗鲜美的暖汤">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386719.html">莲藕排骨汤 | 一碗鲜美的暖汤</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u01292565766218.html">食域家</a>
                    </p>
                </div>
            </li>
            <li class="item" >
                <a class="cover br8" href="/cookbook/2386810.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/e/d/9/220x220_edf09138bff06ddec2fea6410b41c7b9.jpg" alt="圣诞果蔬花环沙拉">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386810.html">#今天吃什么#圣诞果蔬花环沙拉</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u70410512652712.html">牛妈家的厨房</a>
                    </p>
                </div>
            </li>
            <li class="item" >
                <a class="cover br8" href="/cookbook/2386828.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/a/f/3/220x220_afc95e43b05880babcf1261da9b62f43.jpg" alt="汪涵版葱油面">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386828.html">汪涵版葱油面</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u97879889600521.html">吾爱烘焙_</a>
                    </p>
                </div>
            </li>
            <li class="item"    style="margin-right: 0px"   >
                <a class="cover br8" href="/cookbook/2386740.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/8/7/9/220x220_879ffd050693b9a10cd36754724e5319.jpg" alt="芝士焗红薯">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386740.html">芝士焗红薯#今天吃什么#</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u55529288452325.html">爱糖果</a>
                    </p>
                </div>
            </li>
            <li class="item" >
                <a class="cover br8" href="/cookbook/2386949.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/4/e/f/220x220_4e0d1e44013efaf0a7faf1fac37e0acf.jpg" alt="大米肉圆">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386949.html">大米肉圆</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u98965501516416.html">禹馨</a>
                    </p>
                </div>
            </li>
            <li class="item" >
                <a class="cover br8" href="/cookbook/2386808.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/8/1/9/220x220_81921c2f21915e99d479bf908e588d59.jpg" alt="翡翠白菜饺">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386808.html">翡翠白菜饺</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u42943041860509.html">蜜桃厨房</a>
                    </p>
                </div>
            </li>
            <li class="item" >
                <a class="cover br8" href="/cookbook/2386857.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/f/d/f/220x220_fdfa36d94887e6422416ebca6bfe037f.jpeg" alt="家常一锅炖菜">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386857.html">#今天吃什么#家常一锅炖菜</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u47593557106907.html">料理小兔子</a>
                    </p>
                </div>
            </li>
            <li class="item"    style="margin-right: 0px"   >
                <a class="cover br8" href="/cookbook/2386947.html" target="_blank">
                    <img width="220" height="220" src="https://cp1.douguo.com/upload/caiku/c/8/e/220x220_c8eb6b7bfb317a237aaca7042c93ee8e.jpg" alt="肠粉">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="/cookbook/2386947.html">肠粉</a>
                    <p class="author text-lips">by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;"  target="_blank" href="/u/u47756556791688.html">寻找桃花岛</a>
                    </p>
                </div>
            </li>
        </ul>
    <else />
    <volist name="special" id="so">
        <h2 class="title">
            {$so.title}
        </h2>
        <ul class="recipe-list clearfix">
        <foreach name="so.menu" item="mo" key="k">
        <if condition="($k eq 3) or ($k eq 7)">
            <li class="item" style="margin-right: 0">
                <a class="cover br8" href="{:U('Menu/content')}?id={$mo.id}" target="_blank">
                    <img width="220" height="220" src="{$mo.img}" alt="{$mo.title}" title="{$mo.title}">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="{:U('Menu/content')}?id={$mo.id}">{$mo.title}</a>
                    <p class="author text-lips">
                        by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;margin-top: -3px"  target="_blank" href="{$mo.uid}">{$mo.author}</a>
                    </p>
                </div>
            </li>
        <else />
            <li class="item">
                <a class="cover br8" href="{:U('Menu/content')}?id={$mo.id}" target="_blank">
                    <img width="220" height="220" src="{$mo.img}" alt="{$mo.title}" title="{$mo.title}">
                </a>
                <div>
                    <a class="name text-lips" target="_blank" href="{:U('Menu/content')}?id={$mo.id}">{$mo.title}</a>
                    <p class="author text-lips">
                        by
                        <a class="text-lips" style="display: inline-block;max-width: 184px;vertical-align: middle;margin-top: -3px"  target="_blank" href="{$mo.uid}">{$mo.author}</a>
                    </p>
                </div>
            </li>
        </if>
        </foreach>
        </ul>
    </volist>
    </empty>
    </div>
    <div id="footer">
        <div class="foot">
            <div class="clink relative">
                <a href="http://www.douguo.com/about.html" rel="nofollow" target="_blank">关于豆果</a> ·
                <a href="http://www.douguo.com/hr.html" rel="nofollow" target="_blank">在豆果工作</a> ·
                <a href="http://www.douguo.com/user/feedback" rel="nofollow" target="_blank">意见反馈</a> ·
                <a href="http://www.douguo.com/links.html" target="_blank">友情链接</a> ·
                <a href="http://www.douguo.com/allrecipes/" target="_blank">菜谱大全</a> ·
                <a href="http://www.douguo.com/brand" target="_blank">品牌馆</a>
            </div>
            <div class="cght" style="text-align: center;">
                ©2009-2018
                <a href="https://www.douguo.com" target="_blank">北京豆果信息技术有限公司</a>
                <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">京ICP证111032号</a>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502038268">
                    <img alt="" src="https://i1.douguo.com//upload/banner/1564469142.png" lazysrc="" style="margin-bottom: -3px;width:20px" />
                    京公网安备 11010502038268号
                </a>
                <p style="margin:5px 0;cursor: pointer;" onclick="$('.smask2').show();$('.medicinal_box').show();">互联网药品信息服务资格证书</p>
                <a href="http://sq.ccm.gov.cn/ccnt/sczr/doLogin" target="_blank">
                    <img alt="" src="https://i1.douguo.com//upload/banner/1522057799.png" style="margin-bottom: -3px;width:20px"/>
                    京网文【2017】6954-770号
                </a>
                食品流通许可证SP1101061510252413
                <a href="javascript:void(0);" style="display:block;text-align:center;margin-top:5px;" onclick="$('.smask2').show();$('.tvbox').show();">广播电视节目制作经营许可证（京）字第11624号</a>
                <p style="margin:5px 0;">本网站不涉及药品交易、不撮合药品交易、不发布麻醉药品、精神药品、医疗用毒性药品、放射性药品、性药品、戒毒药品和医疗机构制剂的药品信息</p>
                <div class="smask2" style="position:fixed;width:100%;height:100%;top:0;left:0;background: black;z-index:999;display: none;opacity: .6;filter: alpha(opacity=60)"></div>
                <div class="tvbox" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                    <img src="https://i1.douguo.com//upload/banner/1551092008.jpg" alt="">
                    <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.tvbox').hide();">
                </div>
                <div class="medicinal_box" style="position: fixed;top:50%;left:50%;z-index:1000;margin-left:-350px;margin-top:-250px;display: none;">
                    <img style="display:block;width:700px;" src="https://i1.douguo.com//upload/banner/1577185524.jpg" alt="">
                    <img style="position: absolute;top:15px;right:15px;cursor: pointer;" src="https://cp1.douguo.com/static/nweb/images/close.png" alt="" onclick="$('.smask2').hide();$('.medicinal_box').hide();">
                </div>
            </div>
            <div class="botfans">
                <span class="bonefans" style="display: inline-block;width: 64px;overflow: hidden;position: relative;top: 6px;"></span>
                <a style="margin-left: 12px;" id='___szfw_logo___' href='https://credit.szfw.org/CX20170707035016320368.html' target='_blank'>
                    <img alt="" src='https://i1.douguo.com/upload/banner/1528470330.png' border='0' style="height: 22px;"/>
                </a>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/base.js"></script>
    <script src='__PUBLIC__/js/jquery.js' ></script>
    <script src="__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script src="__PUBLIC__/js/layui/layui.all.js"></script>
    <script src="__PUBLIC__/js/layer/layer.js"></script>
    <script type="text/javascript">
        function out() {
            selfMsg('一旦退出账户将停止当前操作并返回首页','温馨提示',false,false,['退出','取消'],
                function() {
                    selfAjax("{:U('out')}",'get',{},true,function (data) {if(data) location.reload();});
                },
                function () {
                    return true;
                }
            );
        }

        (function () {
            document.getElementById('___szfw_logo___').oncontextmenu = function () {
                return false;
            }
        })();
    </script>
</body>
</html>